@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, * ::before, * ::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary: #6366f1;

    --color-body-text: #565973;
    --color-body-background: #ffffff;    
    --color-heading-text: #0B0F19;

    --color-button-text: #ffffff;   
    --color-button-background: var(--primary);
    --color-button-hover-background: #0B0F19;

    --color-button-download-text: #ffffff;
    --color-button-download-background: #0B0F19;
    --color-button-download-hover-background: #0B0F19;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  
  background-color: #1f3a34;
  color: #ffffff;
}


.header {
  background-color: #0e2a25;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header img {
  height: 45px;
}

.contact-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 0.9rem;
}



.book-btn {
  background: #f5c400;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  color: #1f3a34;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem;
  background-color: #2f4f46;
  color: white;
}

.footer {
  justify-content: center;
}